@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');
/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  padding: 0;
  font-family: Poppins , Arial;
  scroll-behavior: smooth;
}
@media screen and (min-width: 0px) and (max-width: 850px){

}
/* bigger laptops */
@media only screen and (min-width: 1224px)  { }
/* Desktops and laptops ----------- */
@media only screen and (min-width: 850px) and (max-width: 1024px) {}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 550px) and (max-width: 800px) {
  .title h1{
    font-size: 20px !important;
  }
  .table{
    display: none !important;
  }
}
/* mobiles (landscape and portrait) */
@media only screen and (min-width: 320px) and (max-width: 500px) {}